/* You can add global styles to this file, and also import other style files */
* {
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  margin: 0;
  padding: 20px;
  background: #1a1a2e;
  color: white;
}
